@import 'normalize';
@import 'base';

@font-face{
  font-family: 'dalmatins';
  src:url(../fonts/Dalmatins.otf);
}

@font-face{
  font-family: 'karla';
  src:url(../fonts/Karla.ttf);
}

@font-face{
  font-family: 'playfair';
  src:url(../fonts/PlayfairDisplay.ttf);
}

$white: #ffffff;
$mint: #99cccc;
$black: #000000;

h1{
  font-family: 'dalmatins';
  color: $black;
  font-size: 2rem;
  text-align: center;
  padding-left: 4rem;
  padding-top: 4rem;
}

h2{
  font-family: 'playfair';
  color: $black;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
}

h3{
  font-family: 'karla';
  text-align: center;
}

.steph{
  width: 20%;
  height: auto;
  transform: rotate(90deg);
  padding-left: 38rem;
  padding-right: 38rem;
  padding-top: 2rem;
}

.SLC{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 1.5rem;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header{
  background: #99cccc;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav{
  float: right;
}

nav ul{
   margin: 0;
   padding-right: 29.5rem;
   list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 2rem;
  margin-right: auto;
  position: relative;
}

nav a{
  color: #666671;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover{
  color: #000000;
}

nav a::before{
  content: '';
  display: block;
  height: 0.2rem;
  width: 100%;
  background-color: #666671;

  width: 0%

  /*transition: all 1s ease-in-out;*/
  /*transition syntax?*/
}

nav a:hover::before{
  width: 100%
}
