@import url();
@import 'normalize';
@import 'base';

@font-face{
  font-family: 'dalmatins';
  src: url(../fonts/Dalmatins.otf);
}

@font-face{
  font-family: 'karla';
  src: url(../fonts/Karla.ttf);
}

$white: #ffffff;
$mint: #99cccc;
$black: #000000;

h1{
  font-family: 'karla';
  color: $black;
  font-size: 1.5rem;
  margin-top: -5rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
}

.Logo{
    background-image: url('./SLCreative.png');
    width: 20%;
    height: 20%;
}
